<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>SOF<span>TUB</span>HUB</h1>
                    <h2>Crafting Relaxation, Eco-Friendly Luxury in Every  Soak</h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box" style="width: 200px;">
                        <div class="icon"><i class="bi bi-moisture"></i></div>
                        <h4><a href="">Relaxation</a></h4>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box" style="width: 200px;">
                        <div class="icon"><i class="bi bi-recycle"></i></div>
                        <h4><a href="">Sustainability</a></h4>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box" style="width: 200px;">
                        <div class="icon"><i class="bi bi-lightning-charge-fill"></i></div>
                        <h4><a href="">Efficiency</a></h4>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box" style="width: 200px;">
                        <div class="icon"><i class="bi bi-globe"></i></div>
                        <h4><a href="">Global</a></h4>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box" style="width: 200px;">
                        <div class="icon"><i class="bi bi-people"></i></div>
                        <h4><a href="">Community</a></h4>
                    </div>
                </div>
            </div>
            

        </div>
    </section><!-- End Hero -->
    <main id="main">
        
        <!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/hero-bg.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Discover the Ultimate Relaxation with SOFTUBhUB Spa</h3>
                <p class="fst-italic">
                    Crafting top-quality portable hot tubs for the ultimate relaxation experience.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Eco-friendly and cost-efficient design.</li>
                    <li><i class="ri-check-double-line"></i> Trusted worldwide for quality and excellence.</li>
                    <li><i class="ri-check-double-line"></i> Easy setup—plug in and unwind, any season.</li>
                </ul>
                <p>
                    Join the SOFTUBhUB community and elevate your home relaxation experience to new heights.
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->


        <!-- ======= Products Section ======= -->
        <section id="products" class="products">
            <div class="container" data-aos="fade-up">

                <div class="section-title products-home">
                    <h2>Products</h2>
                    <p>Check our products</p>
                    <a href="/shop" class="shop-now-btn scrollto">SHOP NOW</a>
                </div>
                <div class="shop-row">
                    <% if (products) { %>
                        <% products.forEach(product => { %>
                            <a href="/shop" class="shop-btn" style="color: black;">
                                <div class="product-container"  data-aos="zoom-in" data-aos-delay="<%= products.indexOf(product)+1 %>00">
                                    <div class="product-img">
                                        <img class="product-image" src="productimage/<%= product.image %>" alt="Product Image">
                                    </div>
                                    <div class="product-details">
                                        <div class="product-name"><%= product.name %></div>
                                        <div class="product-price">$<%= product.price %></div>
                                    </div>
                                    <div class="addtocart"><i class="bi bi-cart-plus"></i>Shop Now</div>
                                </div>
                            </a>
                        <% }) %>
                    <% } else { %>
                        <p>No products available</p>
                    <% } %>
                </div>
            </div>
        </section><!-- End Products Section -->
        
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <h3>Karen W.</h3>
                                <h4>Outdoor Relaxation Enthusiast</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    My outdoor soft tub has truly transformed my backyard into a personal oasis. The soothing jets and comfortable seating provide the perfect escape after a long day. The setup was a breeze, and the durability of the tub has exceeded my expectations. I highly recommend it to anyone looking for a luxurious yet affordable outdoor spa experience.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                        
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <h3>Mike S.</h3>
                                <h4>Quality Family Time</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Our family loves our outdoor soft tub! It has become the go-to spot for quality family time. The spacious design accommodates everyone comfortably, and the easy maintenance makes it a stress-free addition to our home. The therapeutic benefits of the jets have been a game-changer for relaxation, and we couldn't be happier with our purchase.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                        
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <h3>Lisa H.</h3>
                                <h4>Perfect for Entertaining</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    As someone who loves hosting gatherings, the outdoor soft tub has become the star attraction in my backyard. It's perfect for entertaining friends and family. The adjustable jets allow each guest to customize their experience, and the soft, inviting interior ensures everyone stays comfortable for hours. It has added a whole new dimension to our outdoor get-togethers!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                        
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <h3>Tom M.</h3>
                                <h4>Year-Round Enjoyment</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    One of the best investments I've made for my home! The outdoor soft tub has proven to be a year-round source of joy. Even in the colder months, the tub remains warm and inviting. The energy-efficient design keeps operating costs down, and I appreciate the flexibility of being able to use it in any season. It's a fantastic addition to my outdoor lifestyle.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                        
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <h3>Sarah B.</h3>
                                <h4>Stress Relief at Its Best</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    After researching various options, I decided on an outdoor soft tub, and it has exceeded my expectations. The hydrotherapy jets provide incredible stress relief, and the soft, durable material adds to the overall comfort. I find myself spending more time outdoors, especially during sunset soaks. It's not just a tub; it's a daily retreat that has enhanced my well-being. Highly recommended!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->
                        
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>


                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form class="php-email-form" action="/send-message" method="post">
                            <h3>Message us</h3>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="text-center"><input type="submit" value="Send Message"></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
<%- include('partials/footer') %>
