<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="user-auth-container">
        <div id="login-container" class="auth-container">
            <form action="/login-user" method="post" id="login-form">
                <h1>Login</h1>
                <% if (error) { %>
                    <p class="error"><%= message %></p>
                <% } %>
                <label for="signup-phone">Phone Number:</label>
                <input type="tel" name="phone" value="<%= user.phone %>" id="signup-phone" required>
    
                <label for="login-password">Password:</label>
                <input type="password" name="password" value="<%= user.password %>" id="login-password" required>
                
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
<%- include('partials/footer') %>