<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <section id="products" class="products">
        <div class="container" data-aos="fade-up">
            <div class="section-title products-home">
                <h2>Products</h2>
                <p>Click to add to Cart</p>
                <form id="cart-items">
                    <div class="cart">
                        <button type="submit" class="shop-now-btn scrollto">
                            <i class="bi bi-cart-check"></i> View Cart -
                            <span id="cart-counter">0</span>
                        </button>
                    </div>                        
                </form>
            </div>
            <p class="item-added">Added to Cart!</p>
            <div class="shop-row">
                <% products.forEach(product => { %>
                    <button class="shop-btn" onclick="addinputandcartcount('<%= product.id %>')">
                        <div class="product-container"  data-aos="zoom-in" data-aos-delay="<%= products.indexOf(product)+1 %>00">
                            <div class="product-img">
                                <img class="product-image" src="productimage/<%= product.image %>" alt="Product Image">
                            </div>
                            <div class="product-details">
                                <div class="product-name"><%= product.name %></div>
                                <div class="product-price">$<%= product.price %></div>
                            </div>
                            <div class="addtocart"><i class="bi bi-cart-plus"></i>Add to Cart</div>
                        </div>
                    </button>
                <% }) %>
            </div>
        </div>
    </section>
<%- include('partials/footer') %>
