<%- include('partials/header') %>
<%- include('partials/nav') %>

<section id="products" class="products">
    <div class="container" data-aos="fade-up">
        <div class="section-title products-home">
            <h2>Cart</h2>
        </div>
        <div class="shop-row" style="color: #fff;">
            <% let total = 0 %>
            <% if (cartItems && cartItems.length > 0) { %>
                <ul>
                    <% cartItems.forEach(cartItem => { %>
                        <span class="cart-products">
                            <% if (cartItem) { %>
                                <div class="my-cart">
                                    <img src="productimage/<%= cartItem.image %>" width="200px" alt="<%= cartItem.name %>">
                                    <div class="my-cart-details">
                                        <div>
                                            <h3><%= cartItem.name %></h3>
                                            <p><span>$<%= parseFloat(cartItem.price).toFixed(2) %></span> | <span><%= cartItem.quantity %></span></p>
                                            <% let itemtotalprice = (cartItem.quantity * parseFloat(cartItem.price)) %>
                                            <p>Total: $<%= itemtotalprice %></p>
                                        </div>
                                        <form action="/remove-from-cart" method="post">
                                            <input type="hidden" name="productid" value="<%= cartItem.id %>">
                                            <input type="hidden" name="cartID" value="<%= cartID %>">
                                            <div>
                                                <button type="submit" class="remove-btn">Remove</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <% total += (cartItem.quantity * parseFloat(cartItem.price)) %>
                            <% } else { %>
                                <p>Product not found. <a href="/shop">Back to Shop</a></p>
                            <% } %>
                        </span>                              
                    <% }) %>
                </ul>
                <form action="/clear-cart" method="post" class="clear-cart-form" >
                    <input type="hidden" name="cartID" value="<%= cartID %>">
                    <div class="text-center"><input type="submit" style="border: 2px solid #000;" class="remove-btn" value="Clear Cart"></div>
                </form>
                <form action="/submit-order" method="post"  class="php-email-form" style="background-color: #000;">
                    <h3>Input your details to submit Order. Total: $<%= total.toFixed(2) %></h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="address" id="address" placeholder="Your Address" required>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="shop-now-btn">
                            <i class="bi bi-cart-check"></i> Submit Order
                        </button>
                    </div>
                </form>
            <% } else { %>
                <img src="assets/img/empty_cart.png" min-width="300px" width="40%" alt="">
                <p>Your cart is empty. <a href="/shop">Back to Shop</a></p>
            <% } %>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
